<div class="container">
  <h2>Pricing</h2>

  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-4">
      <div class="panel price panel-grey">
        <div class="panel-heading arrow_box text-center">
        <h3>FREE FOREVER</h3>
        </div>
        <div class="panel-body text-center">
          <p class="lead"><strong>$0 / month</strong></p>
        </div>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item"><i class="icon-ok text-success"></i> Personal use</li>
          <li class="list-group-item"><i class="icon-ok text-success"></i> Unlimited pages</li>
          <li class="list-group-item"><i class="icon-ok text-success"></i> All content is Creative Commons ShareAlike licensed</li>
          <li class="list-group-item"><i class="icon-ok text-success"></i> Upload up to 50 MB of files or browse Flickr for Creative Commons images</li>
          <li class="list-group-item"><i class="icon-ok text-success"></i> No custom content types</li>
          <li class="list-group-item"><i class="icon-ok text-success"></i> Domain-restricted api access for prototyping only</li>
          <li class="list-group-item"><i class="icon-ok text-success"></i> Perfect for open source documentation gathering, or producing a collection of jokes from friends</li>
        </ul>
        <div class="panel-footer">
          <a class="btn btn-lg btn-block btn-success" href="#">REQUEST INVITE</a>
        </div>
      </div>
    </div>
 

    <div class="col-xs-6 col-sm-6 col-md-4">
      <div class="panel price panel-grey">
        <div class="panel-heading arrow_box text-center">
        <h3>SINGLE SITE</h3>
        </div>
        <div class="panel-body text-center">
          <p class="lead"><strong>$50 for first two months</strong></p>
          <p class="sub-lead"><strong>$10/month after</strong></p>
        </div>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item"><i class="icon-ok text-success"></i> Up to 5 users</li>
          <li class="list-group-item"><i class="icon-ok text-success"></i> Unlimited pages</li>
          <li class="list-group-item"><i class="icon-ok text-success"></i> Unlimited pages</li>
          <li class="list-group-item"><i class="icon-ok text-success"></i> Upload unlimited files or browse Flickr for Creative Commons images</li>
          <li class="list-group-item"><i class="icon-ok text-success"></i> Content can be public, private, or password-protected</li>
          <li class="list-group-item"><i class="icon-ok text-success"></i> Content can be cloned with permission</li>
          <li class="list-group-item"><i class="icon-ok text-success"></i> Unlimited custom content types and fields</li>
          <li class="list-group-item"><i class="icon-ok text-success"></i> Customizable CORS headers let you host low-traffic productions websites</li>
        </ul>
        <div class="panel-footer coming-soon">
          <!--<a class="btn btn-lg btn-block btn-success" href="#">BUY NOW!</a>-->
          Coming soon
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-4">
      <div class="panel price panel-grey">
        <div class="panel-heading arrow_box text-center">
        <h3>AGENCY</h3>
        </div>
        <div class="panel-body text-center">
          <p class="lead"><strong>$50/month</strong></p>
        </div>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item"><i class="icon-ok text-success"></i> Unlimited sites</li>
          <li class="list-group-item"><i class="icon-ok text-success"></i> Unlimited users</li>
          <li class="list-group-item"><i class="icon-ok text-success"></i> Unlimited pages</li>
          <li class="list-group-item"><i class="icon-ok text-success"></i> Upload unlimited files or browse Flickr for Creative Commons images</li>
          <li class="list-group-item"><i class="icon-ok text-success"></i> Content can be public, private, or password-protected</li>
          <li class="list-group-item"><i class="icon-ok text-success"></i> Content can be cloned with permission</li>
          <li class="list-group-item"><i class="icon-ok text-success"></i> Unlimited custom content types and fields</li>
          <li class="list-group-item"><i class="icon-ok text-success"></i> Customizable CORS headers let you host low-traffic productions websites</li>
        </ul>
        <div class="panel-footer coming-soon">
          <!--<a class="btn btn-lg btn-block btn-success" href="#">BUY NOW!</a>-->
          Coming soon
        </div>
      </div>
    </div>

  </div>
</div>
